*, *:before, *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Helvetica Neue', 'system-ui', sans-serif;
}

:root {
    --black: #14171A;
    --light-5: #FCFCFD;
    --light-10: #F5F8FA;
    --light-20: #E6ECF0;
    --twitter-blue: #1DA1F2;
    --grey: #657786;
    --shadow: 0 -1px 1px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.04), 0 8px 8px rgba(0, 0, 0, 0.04), 0 16px 16px rgba(0, 0, 0, 0.04);
}

html, body {
    width: 100%;
    height: 100%;
}

/* Text */
h1 {
    font-size: 2em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-weight: normal;
    color: var(--grey);
    font-size: 1.125em;
}

p {
    margin: 1em 0;
    line-height: 1.25;
}

.login {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    z-index: 1000;
}

.login .logo {
    color: white;
    position: absolute;
    top: 8em;
    left: 8em;
    width: 200px;
    z-index: -1;
}

.hidden {
    display: none !important;
}

#before-game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #14171A50;
    z-index: 999;
}

form {
    max-width: 26em;
    margin: 0 auto;
    border-radius: 1em;
    overflow: hidden;
}

form h2 {
    background-color: white;
    padding: 1.5rem;
    border-bottom: 1px solid var(--light-20);
}

fieldset {
    background-color: var(--light-10);
    color: var(--black);
    border: none;
    padding: 0 1.5em 1.5em;
}

label {
    margin: 1.5em 0;
    font-weight: bold;
    display: block;
}

input {
    width: 100%;
    display: block;
    background-color: white;
    border: 1px solid var(--light-20);
    font-size: 1em;
    padding: 0.75em;
    margin-top: 0.5em;
}

a {
    color: var(--twitter-blue);
}

button, input[type=submit], a.btn {
    width: unset;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--twitter-blue);
    color: white;
    border-radius: 100px;
    padding: 1em 2em;
}

/* Mini classes */
.twitter-blue {
    color: var(--twitter-blue);
}

input:focus {
    box-shadow: 0 4px 14px #21212130;
    outline: none;
    border: 1px solid var(--twitter-blue);
}

.opaque {
    opacity: .5;
}

.opaque:focus-within {
    opacity: 1;
}

.danger {
    border: 1px solid crimson;
    background-color: indianred;
    padding: .75em;
    color: white;
    margin-bottom: 0;
}

/* MAIN */
.game {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game > header {
    flex: 0 0 4em;
    background-color: var(--black);
    color: white;
    padding: 1.25em;
    display: flex;
    justify-content: space-between;
}

.game > header h1 {
    font-size: 1.125em;
}

.game > header p {
    margin: 0;
}

.game > header button {
    background-color: unset;
    padding: 0;
    border: none;
    font-size: 1em;
    cursor: pointer;
    position: relative;
}

.game > header button svg {
    display: inline-block;
    height: 1em;
    fill: white;
}

.game > header button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: -.25em;
}

main {
    position: relative;
    display: flex;
    flex: 1 1 100%;
}

main aside {
    position: relative;
    flex: 0 0 28.125em;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--light-20);
}

aside h2 {
    flex: 0 0 4rem;
    padding: 1.25rem;
    background-color: var(--twitter-blue);
    color: white;
}

aside ul {
    flex: 1 1 1em;
    overflow-y: scroll;
    position: relative;
}

aside.locked::after {
    padding: 4em 2em;
    content: "You don't have to choose a card now!";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    line-height: 100%;
    color: white;
    background-color: #14171A90;
}

aside li {
    position: relative;
    list-style: none;
    min-height: 10em;
    padding: 1.25em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-20);
    cursor: pointer;
}

aside li:hover {
    background-color: var(--light-10);
}

aside li:hover button {
    opacity: 1;
}

aside li button {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: none;
    font-size: 1em;
}

.field {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

.current-tweet {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.choosers-tweet {
    padding: 2em;
    height: 12em;
    width: 32em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 2px 14px #14171A30;
}

.playfield {
    position: relative;
    display: flex;
    flex: 1 1 50%;
    margin: 1em;
    border: 1px dashed var(--light-20);
    background-color: var(--light-5);
    border-radius: .75em;
}

.playfield .card {
    margin: .5em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 40rem;
    border-radius: 1em;
    transition: 300ms transform;
}

.playfield .card:hover {
    box-shadow: var(--shadow);
    transform: translateY(-5px);
}

.playfield .card-body {
    flex: 1;
    height: 100%;
    transform-style: preserve-3d;
    transition: 300ms transform;
    border-radius: 1em;
}

.playfield.flipped .card-body {
    transform: rotateY(-180deg);
}

.card-front, .card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 1em;
    background-color: white;
    backface-visibility: hidden;
    box-shadow: var(--shadow);
}

.card-front {
    height: 100%;
    justify-content: center;
}

.card-back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    transform: rotateY(-180deg);
}

.playfield.dont-touch::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#users {
    flex: 0 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
    flex-wrap: wrap;
}

#users article {
    display: flex;
    border: 1px solid var(--twitter-blue);
    border-radius: 1em;
    padding: 1.25em;
    margin: .5em;
}

#users article.open {
    background-color: var(--light-10);
    justify-content: center;
    align-items: center;
    border-color: var(--light-20);
}

#users .picking {
    border: 2px solid salmon;
}

#users .text {
    flex: 1 1 100%;
}

#users #points {
    flex: 0 0 1em;
    display: flex;
    align-items: center;
}

h4.user::before {
    content: url("/assets/svg/user.svg");
    padding-right: 0.25em;
    height: 1em;
    width: 1em;
}

#users article p {
    color: var(--twitter-blue);
    font-size: 1.6875em;
    margin: 0;
    font-weight: bold;
}

[copy_pin] {
    cursor: pointer;
}

[copy_pin]:hover {
    opacity:.75;
}

.winner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #14171A70;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.winner-overlay p {
    background-color: white;
    padding: 1em;
    border-radius: 1em;
}

@media (max-width: 70em) {
    main aside {
        flex: 0 0 20em;
    }
    #users {
        grid-template-columns: 1fr 1fr;
    }
}