*, *:before, *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Helvetica Neue', 'system-ui', sans-serif;
}

:root {
    --black: #14171A;
    --light-10: #F5F8FA;
    --light-20: #E6ECF0;
    --twitter-blue: #1DA1F2;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Text */
h1 {
    font-size: 2em;
}

p {
    margin: 1em 0;
    line-height: 1.25;
}

.login {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    z-index: 1000;
}

.login .logo {
    color: white;
    position: absolute;
    top: 8em;
    left: 8em;
    width: 200px;
}

form {
    max-width: 26em;
    margin: 0 auto;
    border-radius: 1em;
    overflow: hidden;
}

form h2 {
    background-color: white;
    padding: 1.5rem;
    border-bottom: 1px solid var(--light-20);
}

fieldset {
    background-color: var(--light-10);
    color: var(--black);
    border: none;
    padding: 0 1.5em 1.5em;
}

label {
    margin: 1.5em 0;
    font-weight: bold;
    display: block;
}

input {
    width: 100%;
    display: block;
    background-color: white;
    border: 1px solid var(--light-20);
    font-size: 1em;
    padding: 0.75em;
    margin-top: 0.5em;
}

a {
    color: var(--twitter-blue);
}

button, input[type=submit], a.btn {
    width: unset;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--twitter-blue);
    color: white;
    border-radius: 100px;
    padding: 1em 2em;
}

/* Mini classes */
.twitter-blue {
    color: var(--twitter-blue);
}

input:focus {
    box-shadow: 0 4px 14px #21212130;
    outline: none;
    border: 1px solid var(--twitter-blue);
}

.opaque {
    opacity: .5;
}

.opaque:focus-within {
    opacity: 1;
}

.danger {
    border: 1px solid crimson;
    background-color: indianred;
    padding: .75em;
    color: white;
    margin-bottom: 0;
}

/* MAIN */
.game {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 4em;
    background-color: var(--black);
    color: white;
    padding: 1.25em;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 1.125em;
}

header p {
    margin: 0;
}

header button {
    background-color: unset;
    padding: 0;
    border: none;
    font-size: 1em;
    cursor: pointer;
    position: relative;
}

header button svg {
    display: inline-block;
    height: 1em;
    fill: white;
}

header button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: -.25em;
}

main {
    display: flex;
    flex: 1 1 100%;
}

main aside {
    flex: 0 0 28.125em;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--light-20);
}

aside h2 {
    flex: 0 0 4rem;
    padding: 1.25rem;
    background-color: var(--twitter-blue);
    color: white;
}

aside ul {
    flex: 1 1 1em;
    overflow-y: scroll;
}

aside li {
    position: relative;
    list-style: none;
    min-height: 10em;
    padding: 1.25em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-20);
    cursor: pointer;
}

aside li:hover {
    background-color: var(--light-10);
}

aside li:hover button {
    opacity: 1;
}

aside li button {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: none;
    font-size: 1em;
}

.field {
    flex: 1 1 100%;
}